# Archivos de entorno
# Nunca subas tus secretos o configuraciones locales a Git.
.env
.env.*

# Archivos generados por Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de bases de datos
# El contenedor de Postgres guarda sus datos aquí.
.dbdata/
db.sqlite3

# Archivos de dependencias de Python
venv/
virtualenv/
env/
*.egg-info/

# Archivos generados por Django
# Directorios de archivos estáticos y subidos por usuarios.
static/
media/

# Archivos de sistema operativo
.DS_Store
Thumbs.db

# Archivos de IDEs y editores
.idea/
.vscode/

# Archivos de logs
*.log

# Archivos de testing y cobertura
.pytest_cache/
.coverage
htmlcov/
